In [3]:
#Mount to drive
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
data = pd.read_csv("/content/drive/MyDrive/bc_trip259172515_230215.csv")
data

,EVENT_NO_TRIP,EVENT_NO_STOP,OPD_DATE,VEHICLE_ID,METERS,ACT_TIME,GPS_LONGITUDE,GPS_LATITUDE,GPS_SATELLITES,GPS_HDOP
0,259172515,259172517,15FEB2023:00:00:00,4223,40,20469,-122.648137,45.493082,12,0.7
1,259172515,259172517,15FEB2023:00:00:00,4223,48,20474,-122.648240,45.493070,12,0.8
2,259172515,259172517,15FEB2023:00:00:00,4223,57,20479,-122.648352,45.493123,12,0.8
3,259172515,259172517,15FEB2023:00:00:00,4223,73,20484,-122.648385,45.493262,12,0.7
4,259172515,259172517,15FEB2023:00:00:00,4223,112,20489,-122.648347,45.493582,12,0.8
...,...,...,...,...,...,...,...,...,...,...
156,259172515,259172530,15FEB2023:00:00:00,4223,5834,21389,-122.677057,45.528040,11,0.8
157,259172515,259172531,15FEB2023:00:00:00,4223,5838,21424,-122.677003,45.528037,6,2.0
158,259172515,259172531,15FEB2023:00:00:00,4223,5858,21429,-122.676765,45.528043,7,1.1
159,259172515,259172531,15FEB2023:00:00:00,4223,5889,21434,-122.676370,45.528047,10,1.1
160,259172515,259172531,15FEB2023:00:00:00,4223,5918,21439,-122.675990,45.528065,11,0.8

In [6]:
# Display the first few rows of the DataFrame
print("First few rows of the DataFrame:")
print(data.head())

First few rows of the DataFrame:
   EVENT_NO_TRIP  EVENT_NO_STOP            OPD_DATE  VEHICLE_ID  METERS  \
0      259172515      259172517  15FEB2023:00:00:00        4223      40
1      259172515      259172517  15FEB2023:00:00:00        4223      48
2      259172515      259172517  15FEB2023:00:00:00        4223      57
3      259172515      259172517  15FEB2023:00:00:00        4223      73
4      259172515      259172517  15FEB2023:00:00:00        4223     112

   ACT_TIME  GPS_LONGITUDE  GPS_LATITUDE  GPS_SATELLITES  GPS_HDOP
0     20469    -122.648137     45.493082              12       0.7
1     20474    -122.648240     45.493070              12       0.8
2     20479    -122.648352     45.493123              12       0.8
3     20484    -122.648385     45.493262              12       0.7
4     20489    -122.648347     45.493582              12       0.8

In [7]:
# Display information about the DataFrame including the data types of each column
print("\nDataFrame information:")
data.info()

DataFrame information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   EVENT_NO_TRIP   161 non-null    int64
 1   EVENT_NO_STOP   161 non-null    int64
 2   OPD_DATE        161 non-null    object
 3   VEHICLE_ID      161 non-null    int64
 4   METERS          161 non-null    int64
 5   ACT_TIME        161 non-null    int64
 6   GPS_LONGITUDE   161 non-null    float64
 7   GPS_LATITUDE    161 non-null    float64
 8   GPS_SATELLITES  161 non-null    int64
 9   GPS_HDOP        161 non-null    float64
dtypes: float64(3), int64(6), object(1)
memory usage: 12.7+ KB

In [8]:
# Display summary statistics for the DataFrame
print("\nSummary statistics:")
print(data.describe())

Summary statistics:
       EVENT_NO_TRIP  EVENT_NO_STOP  VEHICLE_ID       METERS      ACT_TIME  \
count          161.0   1.610000e+02       161.0   161.000000    161.000000
mean     259172515.0   2.591725e+08      4223.0  3589.186335  20901.670807
std              0.0   4.331696e+00         0.0  1810.681478    276.646724
min      259172515.0   2.591725e+08      4223.0    40.000000  20469.000000
25%      259172515.0   2.591725e+08      4223.0  1933.000000  20674.000000
50%      259172515.0   2.591725e+08      4223.0  4165.000000  20874.000000
75%      259172515.0   2.591725e+08      4223.0  5208.000000  21094.000000
max      259172515.0   2.591725e+08      4223.0  5918.000000  21439.000000

       GPS_LONGITUDE  GPS_LATITUDE  GPS_SATELLITES    GPS_HDOP
count     161.000000    161.000000      161.000000  161.000000
mean     -122.666642     45.514643       10.770186    0.909938
std         0.010093      0.010566        0.867817    0.215698
min      -122.677585     45.493070        6.000000    0.700000
25%      -122.675990     45.503155       10.000000    0.800000
50%      -122.669730     45.517902       11.000000    0.800000
75%      -122.660792     45.523190       11.000000    0.900000
max      -122.647997     45.528065       12.000000    2.000000

In [12]:
# Use DataFrame.drop() to remove the EVENT_NO_STOP, GPS_SATELLITES, and GPS_HDOP columns
columns_to_drop = ['EVENT_NO_STOP', 'GPS_SATELLITES', 'GPS_HDOP']
data_filtered = data.drop(columns=columns_to_drop)

In [13]:
# Display the first few rows of the filtered DataFrame
print("\nFirst few rows of the DataFrame after dropping EVENT_NO_STOP, GPS_SATELLITES, and GPS_HDOP columns:")
print(data_filtered.head())

First few rows of the DataFrame after dropping EVENT_NO_STOP, GPS_SATELLITES, and GPS_HDOP columns:
   EVENT_NO_TRIP            OPD_DATE  VEHICLE_ID  METERS  ACT_TIME  \
0      259172515  15FEB2023:00:00:00        4223      40     20469
1      259172515  15FEB2023:00:00:00        4223      48     20474
2      259172515  15FEB2023:00:00:00        4223      57     20479
3      259172515  15FEB2023:00:00:00        4223      73     20484
4      259172515  15FEB2023:00:00:00        4223     112     20489

   GPS_LONGITUDE  GPS_LATITUDE
0    -122.648137     45.493082
1    -122.648240     45.493070
2    -122.648352     45.493123
3    -122.648385     45.493262
4    -122.648347     45.493582

In [14]:
# Display information about the filtered DataFrame
print("\nFiltered DataFrame information:")
data_filtered.info()

Filtered DataFrame information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EVENT_NO_TRIP  161 non-null    int64
 1   OPD_DATE       161 non-null    object
 2   VEHICLE_ID     161 non-null    int64
 3   METERS         161 non-null    int64
 4   ACT_TIME       161 non-null    int64
 5   GPS_LONGITUDE  161 non-null    float64
 6   GPS_LATITUDE   161 non-null    float64
dtypes: float64(2), int64(4), object(1)
memory usage: 8.9+ KB

In [22]:
data_path = "/content/drive/MyDrive/bc_trip259172515_230215.csv"

In [23]:
# Specify the columns to include in the DataFrame
columns_to_include = ['EVENT_NO_TRIP', 'OPD_DATE', 'VEHICLE_ID', 'METERS', 'ACT_TIME', 'GPS_LONGITUDE', 'GPS_LATITUDE']

In [24]:
# Read the CSV file and include only the specified columns
df = pd.read_csv(data_path, usecols=columns_to_include)

In [25]:
# Display the first few rows of the filtered DataFrame
print("First few rows of the filtered DataFrame:")
print(df.head())

First few rows of the filtered DataFrame:
   EVENT_NO_TRIP            OPD_DATE  VEHICLE_ID  METERS  ACT_TIME  \
0      259172515  15FEB2023:00:00:00        4223      40     20469
1      259172515  15FEB2023:00:00:00        4223      48     20474
2      259172515  15FEB2023:00:00:00        4223      57     20479
3      259172515  15FEB2023:00:00:00        4223      73     20484
4      259172515  15FEB2023:00:00:00        4223     112     20489

   GPS_LONGITUDE  GPS_LATITUDE
0    -122.648137     45.493082
1    -122.648240     45.493070
2    -122.648352     45.493123
3    -122.648385     45.493262
4    -122.648347     45.493582

In [26]:
# Display information about the DataFrame, including data types and memory usage
print("\nDataFrame information:")
df.info()

DataFrame information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EVENT_NO_TRIP  161 non-null    int64
 1   OPD_DATE       161 non-null    object
 2   VEHICLE_ID     161 non-null    int64
 3   METERS         161 non-null    int64
 4   ACT_TIME       161 non-null    int64
 5   GPS_LONGITUDE  161 non-null    float64
 6   GPS_LATITUDE   161 non-null    float64
dtypes: float64(2), int64(4), object(1)
memory usage: 8.9+ KB

In [27]:
from datetime import datetime, timedelta
# Function to decode OPD_DATE and ACT_TIME and create a pandas.Timestamp
def create_timestamp(row):
    # Convert OPD_DATE to a datetime object
    date = datetime.strptime(row['OPD_DATE'], '%d%b%Y:%H:%M:%S')

    # Convert ACT_TIME to a timedelta object (from seconds since midnight)
    time_offset = timedelta(seconds=row['ACT_TIME'])

    # Combine date and time_offset to create a timestamp
    timestamp = date + time_offset

    return timestamp

In [28]:
# Apply the function to each row and create the TIMESTAMP column
df['TIMESTAMP'] = df.apply(create_timestamp, axis=1)

In [29]:
# Display the first few rows of the DataFrame with the new TIMESTAMP column
print("First few rows of the DataFrame with the new TIMESTAMP column:")
print(df.head())

First few rows of the DataFrame with the new TIMESTAMP column:
   EVENT_NO_TRIP            OPD_DATE  VEHICLE_ID  METERS  ACT_TIME  \
0      259172515  15FEB2023:00:00:00        4223      40     20469
1      259172515  15FEB2023:00:00:00        4223      48     20474
2      259172515  15FEB2023:00:00:00        4223      57     20479
3      259172515  15FEB2023:00:00:00        4223      73     20484
4      259172515  15FEB2023:00:00:00        4223     112     20489

   GPS_LONGITUDE  GPS_LATITUDE           TIMESTAMP
0    -122.648137     45.493082 2023-02-15 05:41:09
1    -122.648240     45.493070 2023-02-15 05:41:14
2    -122.648352     45.493123 2023-02-15 05:41:19
3    -122.648385     45.493262 2023-02-15 05:41:24
4    -122.648347     45.493582 2023-02-15 05:41:29

In [30]:
# Display DataFrame information to confirm the new column and data types
print("\nDataFrame information:")
df.info()

DataFrame information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EVENT_NO_TRIP  161 non-null    int64
 1   OPD_DATE       161 non-null    object
 2   VEHICLE_ID     161 non-null    int64
 3   METERS         161 non-null    int64
 4   ACT_TIME       161 non-null    int64
 5   GPS_LONGITUDE  161 non-null    float64
 6   GPS_LATITUDE   161 non-null    float64
 7   TIMESTAMP      161 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(4), object(1)
memory usage: 10.2+ KB

In [31]:
# Remove the OPD_DATE and ACT_TIME columns
df = df.drop(columns=['OPD_DATE', 'ACT_TIME'])

In [32]:
# Display the first few rows of the DataFrame with the new TIMESTAMP column
print("First few rows of the DataFrame with the new TIMESTAMP column and without OPD_DATE and ACT_TIME columns:")
print(df.head())

First few rows of the DataFrame with the new TIMESTAMP column and without OPD_DATE and ACT_TIME columns:
   EVENT_NO_TRIP  VEHICLE_ID  METERS  GPS_LONGITUDE  GPS_LATITUDE  \
0      259172515        4223      40    -122.648137     45.493082
1      259172515        4223      48    -122.648240     45.493070
2      259172515        4223      57    -122.648352     45.493123
3      259172515        4223      73    -122.648385     45.493262
4      259172515        4223     112    -122.648347     45.493582

            TIMESTAMP
0 2023-02-15 05:41:09
1 2023-02-15 05:41:14
2 2023-02-15 05:41:19
3 2023-02-15 05:41:24
4 2023-02-15 05:41:29

In [33]:
# Display DataFrame information to confirm the new column and data types
print("\nDataFrame information:")
df.info()

DataFrame information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EVENT_NO_TRIP  161 non-null    int64
 1   VEHICLE_ID     161 non-null    int64
 2   METERS         161 non-null    int64
 3   GPS_LONGITUDE  161 non-null    float64
 4   GPS_LATITUDE   161 non-null    float64
 5   TIMESTAMP      161 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(3)
memory usage: 7.7 KB

In [35]:
# Calculate the difference between rows for METERS and TIMESTAMP
df['dMETERS'] = df['METERS'].diff()
df['dTIMESTAMP'] = df['TIMESTAMP'].diff().dt.total_seconds()  # Convert timedelta to seconds

In [36]:
# Calculate SPEED as dMETERS / dTIMESTAMP
df['SPEED'] = df['dMETERS'] / df['dTIMESTAMP']

In [37]:
# Drop the unneeded dMETERS and dTIMESTAMP columns
df.drop(columns=['dMETERS', 'dTIMESTAMP'], inplace=True)

In [38]:
# Display the first few rows of the DataFrame with the SPEED column
print("First few rows of the DataFrame with the SPEED column:")
print(df.head())

First few rows of the DataFrame with the SPEED column:
   EVENT_NO_TRIP  VEHICLE_ID  METERS  GPS_LONGITUDE  GPS_LATITUDE  \
0      259172515        4223      40    -122.648137     45.493082
1      259172515        4223      48    -122.648240     45.493070
2      259172515        4223      57    -122.648352     45.493123
3      259172515        4223      73    -122.648385     45.493262
4      259172515        4223     112    -122.648347     45.493582

            TIMESTAMP  SPEED
0 2023-02-15 05:41:09    NaN
1 2023-02-15 05:41:14    1.6
2 2023-02-15 05:41:19    1.8
3 2023-02-15 05:41:24    3.2
4 2023-02-15 05:41:29    7.8

In [39]:
df['SPEED'] = df['SPEED'].fillna(method='bfill')

In [40]:
print(df.head())

   EVENT_NO_TRIP  VEHICLE_ID  METERS  GPS_LONGITUDE  GPS_LATITUDE  \
0      259172515        4223      40    -122.648137     45.493082
1      259172515        4223      48    -122.648240     45.493070
2      259172515        4223      57    -122.648352     45.493123
3      259172515        4223      73    -122.648385     45.493262
4      259172515        4223     112    -122.648347     45.493582

            TIMESTAMP  SPEED
0 2023-02-15 05:41:09    1.6
1 2023-02-15 05:41:14    1.6
2 2023-02-15 05:41:19    1.8
3 2023-02-15 05:41:24    3.2
4 2023-02-15 05:41:29    7.8

In [41]:
# Calculate and display the summary statistics for the SPEED column
summary_statistics = df['SPEED'].describe()
# Displaying the statistics
print("Summary statistics for SPEED:")
print(summary_statistics)
# Extracting the minimum, maximum, and average speed
min_speed = summary_statistics['min']
max_speed = summary_statistics['max']
average_speed = summary_statistics['mean']
# Display the minimum, maximum, and average speed
print("\nMinimum speed: {:.2f} m/s".format(min_speed))
print("Maximum speed: {:.2f} m/s".format(max_speed))
print("Average speed: {:.2f} m/s".format(average_speed))

Summary statistics for SPEED:
count    161.000000
mean       7.192254
std        4.429027
min        0.000000
25%        3.800000
50%        6.400000
75%       10.800000
max       17.400000
Name: SPEED, dtype: float64

Minimum speed: 0.00 m/s
Maximum speed: 17.40 m/s
Average speed: 7.19 m/s

In [42]:
data = pd.read_csv("/content/drive/MyDrive/bc_veh4223_230215.csv")
data

,EVENT_NO_TRIP,EVENT_NO_STOP,OPD_DATE,VEHICLE_ID,METERS,ACT_TIME,GPS_LONGITUDE,GPS_LATITUDE,GPS_SATELLITES,GPS_HDOP
0,259173279,259173350,15FEB2023:00:00:00,4223,194493,71279,-122.679572,45.517122,8,1.6
1,259173279,259173350,15FEB2023:00:00:00,4223,194525,71284,-122.679408,45.517392,8,1.9
2,259173279,259173350,15FEB2023:00:00:00,4223,194562,71290,-122.679227,45.517700,8,2.2
3,259173279,259173350,15FEB2023:00:00:00,4223,194598,71295,-122.679048,45.517998,9,0.9
4,259173279,259173350,15FEB2023:00:00:00,4223,194628,71300,-122.678888,45.518255,9,1.3
...,...,...,...,...,...,...,...,...,...,...
7401,259173498,259173583,15FEB2023:00:00:00,4223,251109,84315,-122.641148,45.539688,12,0.8
7402,259173498,259173583,15FEB2023:00:00:00,4223,251162,84320,-122.641138,45.540175,12,0.7
7403,259173498,259173583,15FEB2023:00:00:00,4223,251199,84325,-122.641107,45.540512,12,0.7
7404,259173498,259173583,15FEB2023:00:00:00,4223,251238,84330,-122.641142,45.540860,12,0.7
7405,259173498,259173583,15FEB2023:00:00:00,4223,251289,84335,-122.641140,45.541325,12,0.7

In [44]:
# Decode the timestamp by combining OPD_DATE and ACT_TIME
data['TIMESTAMP'] = data.apply(lambda row: pd.to_datetime(row['OPD_DATE'], format='%d%b%Y:%H:%M:%S') + pd.to_timedelta(row['ACT_TIME'], unit='s'), axis=1)

In [45]:
# Drop the unneeded columns
data.drop(columns=['OPD_DATE', 'ACT_TIME', 'GPS_SATELLITES', 'GPS_HDOP'], inplace=True)

In [46]:
# Calculate dMETERS and dTIMESTAMP
data['dMETERS'] = data['METERS'].diff()
data['dTIMESTAMP'] = data['TIMESTAMP'].diff().dt.total_seconds()  # Convert timedelta to seconds

In [47]:
# Calculate SPEED as dMETERS / dTIMESTAMP
data['SPEED'] = data['dMETERS'] / data['dTIMESTAMP']

In [48]:
# Drop the unneeded dMETERS and dTIMESTAMP columns
data.drop(columns=['dMETERS', 'dTIMESTAMP'], inplace=True)

In [49]:
# Calculate max speed, and median speed for each trip
max_speed = data['SPEED'].max()
median_speed = data['SPEED'].median()

In [50]:
# Find the row with maximum speed
max_speed_row = data[data['SPEED'] == max_speed].iloc[0]

In [51]:
# Print results
print(f"Maximum speed for vehicle #4223 on February 15, 2023: {max_speed:.2f} m/s")
print(f"Where and when did this maximum speed occur:")
print(f"  GPS Longitude: {max_speed_row['GPS_LONGITUDE']}")
print(f"  GPS Latitude: {max_speed_row['GPS_LATITUDE']}")
print(f"  Timestamp: {max_speed_row['TIMESTAMP']}")

print(f"\nMedian speed for this vehicle on this day: {median_speed:.2f} m/s")

Maximum speed for vehicle #4223 on February 15, 2023: 17.40 m/s
Where and when did this maximum speed occur:
  GPS Longitude: -122.660822
  GPS Latitude: 45.505452
  Timestamp: 2023-02-15 05:44:49

Median speed for this vehicle on this day: 7.20 m/s